.headCard {
	margin-top: -10px;
	margin-bottom: 10px;
}

.headTitle {
	padding: 10px;
	color: rgba(0,0,0,0.3);
}

.headContent {
	padding: 10px;
}

.main-holder {
	overflow: hidden;
}

.tier-holder-holder {
	overflow: hidden;

}

.tier-holder {
	overflow: hidden;

}

.dalliance {
	overflow: hidden;
}

.toolbar {
	visibility: show;
}

.panel-body {
	min-width: 200px;
}

.powered-by {
	visibility: hidden;
}

.btn-group.pull-right:first-of-type {
	display: none;
}


.loc-field {
	height: 30px;
}